.switcher {
    display: flex;
    align-items: center;
}

.switcher__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    top: 0;
    left: 0;
}

.switcher__toggle {
    position: relative;
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 1.5rem;
    border: 1px solid var(--c-brand);
    border-radius: 1.75rem;
    margin-left: 1.25rem;
    cursor: pointer;
}

.switcher__toggle::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--c-brand);
    transition: left 0.3s, right 0.3s;
}

.switcher[data-active="false"] .switcher__toggle::after {
    left: 0.25rem;
}

.switcher[data-active="true"] .switcher__toggle::after {
    right: 0.25rem;
}

@supports(gap: 20px) {
    .switcher {
        gap: 1.25rem;
    }
    .switcher__toggle {
        margin-left: 0;
    }
}