:root {
    --c-main: #ffffff;
    --c-reverse: #000000;
    --c-add: #808080;
    --c-brand:#4E5851;
    --s-width: 66rem;
    --s-padding: 1rem;
}

body.dark-theme {
    --c-main: #000000;
    --c-reverse: #ffffff;
}